# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: end-of-file-fixer
  - id: check-added-large-files
- repo: https://github.com/PyCQA/flake8.git
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: ^docs/
