Target Cell Mosaic
{
 a1 a2 a3
}

Target Compartment AllCompartments
{
  Mosaic
}

Target Cell pre
{
 a1
}

Target Cell post
{
 a2 a3
}

Target Cell post2
{
 a2
}

Target Cell post3
{
 a3
}


Target Cell virtual_neurons
{
 a1000001 a1000002
}

Target Cell virtual_neuron1
{
 a1000001
}

Target Cell virtual_neuron2
{
 a1000002
}
