
Target Cell mini
{
  a75779 a80640
}

Target Cell ChC
{
L23_ChC L4_ChC L5_ChC L6_ChC
}

Target Cell BC
{
L6_SBC L6_NBC L6_LBC
L5_SBC L5_NBC L5_LBC
L4_SBC L4_NBC L4_LBC
L23_SBC L23_NBC L23_LBC
}

Target Cell PV_FS
{
BC ChC
}

Target Cell MC
{
L23_MC L4_MC L5_MC L6_MC
}

Target Cell DBC
{
L23_DBC L4_DBC L5_DBC L6_DBC
}

Target Cell BTC
{
L23_BTC L4_BTC L5_BTC L6_BTC
}

Target Cell BP
{
L23_BP L4_BP L5_BP L6_BP
}

Target Cell DISTAR_INH
{
DBC BTC MC BP
}

Target Cell L23_NBC_LBC
{
L23_NBC L23_LBC
}

Target Cell L23_PV
{
L23_NBC L23_LBC L23_ChC
}

Target Cell L4_PV
{
L4_NBC L4_LBC L4_ChC
}


Target Cell L5_PV
{
L5_NBC L5_LBC L5_ChC
}


Target Cell L6_PV
{
L6_NBC L6_LBC L6_ChC
}

Target Cell L6_SOM
{
L6_MC
}

Target Cell L5_SOM
{
L5_MC
}

Target Cell L4_SOM
{
L4_MC
}

Target Cell L23_SOM
{
L23_MC
}


Target Cell Inh_not_LBC_NBC
{
  L1_DAC L1_DLAC L1_HAC L1_NGC-SA L1_NGC-DA L1_SLAC
  L23_DBC L23_BP L23_NGC L23_SBC L23_ChC L23_BTC L23_MC
  L4_ChC L4_MC L4_SBC L4_BTC L4_NGC L4_DBC L4_BP
  L5_BP L5_NGC L5_SBC L5_ChC L5_DBC L5_BTC L5_MC
  L6_SBC L6_MC L6_ChC L6_NGC L6_DBC L6_BTC L6_BP
}

Target Cell NGC_not_L1
{
L23_NGC L4_NGC L5_NGC L6_NGC
}


Target Cell Other_Inh
{
  Layer1 NGC_not_L1
}


Target Cell LBC
{
L23_LBC L4_LBC L5_LBC L6_LBC
}

Target Cell NBC
{
L23_NBC L4_NBC L5_NBC L6_NBC
}

Target Cell LBC_NBC
{
LBC NBC
}

Target Cell Layer5Excitatory
{
 L5_TTPC1 L5_TTPC2 L5_UTPC L5_STPC
}

Target Cell Layer6Excitatory
{
 L6_BPC L6_IPC L6_UTPC L6_TPC_L1 L6_TPC_L4
}

Target Cell Layer4Excitatory
{
 L4_SS L4_SP L4_PC
}

#! Not the whole list
Target Cell Inhibitory_no_dNAC_dSTUT
{
}

Target Cell dNAC_dSTUT
{
}

Target Cell L23_PCat0p23
{
}
